<!-- <a *ngFor="let page of pagesArray">{{ page }}</a> -->
<p>Выберите нужную страницу</p>
{{cService.currentPage$.value}}
{{cService.pages$.value}}

<a *ngIf="cService.currentPage$.value > 3" routerLink="/list/1">1 <<-</a>
<a *ngIf="cService.currentPage$.value - 1 > 1" routerLink="/list/{{ cService.currentPage$.value - 1 }}">
  < {{ cService.currentPage$.value - 1 }}
</a>
<a *ngIf="cService.currentPage$.value - 1 > 1" routerLink="/list/{{ cService.currentPage$.value - 2 }}">
  {{ cService.currentPage$.value - 2 }}
</a>
<a *ngIf="cService.currentPage$.value > 1" routerLink="/list/{{ cService.currentPage$.value - 1 }}">
  {{ cService.currentPage$.value - 1 }}
</a>
<a *ngIf="cService.pages$.value > 1" class="current">
  {{ cService.currentPage$.value }}
</a>
<a
  *ngIf="cService.pages$.value >= cService.currentPage$.value + 1"
  routerLink="/list/{{ cService.currentPage$.value + 1 }}"
>
  {{ cService.currentPage$.value + 1 }}
</a>
<a
  *ngIf="cService.pages$.value >= cService.currentPage$.value + 2"
  routerLink="/list/{{ cService.currentPage$.value + 2 }}"
>
  {{ cService.currentPage$.value + 2 }}
</a>
<a
  *ngIf="cService.pages$.value > cService.currentPage$.value + 1"
  routerLink="/list/{{ cService.currentPage$.value + 1 }}"
>
  {{ cService.currentPage$.value + 1 }} ></a
><a
  *ngIf="cService.pages$.value > cService.currentPage$.value + 2"
  routerLink="/list/{{ cService.pages$.value }}"
>
  >> {{ cService.pages$.value }}
</a>
