a {
  padding: 0.5rem 1rem;
  background: var(--body-secondary);
  border: 1px dotted black;
  margin: 0.1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  text-align: center;
}

* {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

p {
  margin-bottom: 1rem;
}

.current {
  background-color: var(--body-accent);
}
