<h1 class="text-center">Добро пожаловать на сайт персонажей из Star Wars</h1>
<p>
</p>
<div class="text-center">
  <app-search-bar (newSearch)="onSearch($event)"
    [searchValue]="search"
  ></app-search-bar>
</div>
<div *ngIf="error else elseBlock">
  <app-fetcherror></app-fetcherror>
</div>

<ng-template #elseBlock>
  <div class="card-list__pagination">
    <app-pagination
      [currentPage]="currentPage"
      [pages]="pages"
      [search]="search"
      ></app-pagination>
    </div>
    <div *ngIf="cards" class="list__wrapper">
      <ng-container *ngFor="let card of cards; index as i">
        <app-character-card
        [currentPage]="currentPage"
        [search]="search"
        [card]="card"
        [index]="card.id - 1"
      ></app-character-card>
    </ng-container>
  </div>
</ng-template>
