<h1 class="text-center">Добро пожаловать на сайт персонажей из Star Wars</h1>
<div class="text-center">
  <app-search-bar (newSearch)="onSearch($event)"></app-search-bar>
</div>
<div *ngIf="cService.fetchError$ | async; else elseBlock">
  <app-fetcherror></app-fetcherror>
</div>

<ng-template #elseBlock>
  <div
    *ngIf="cService.filteredCharacters$ | async as characters"
    class="list__wrapper"
  >
    <ng-container *ngFor="let character of characters">
      <app-character-card [character]="character"></app-character-card>
    </ng-container>
  </div>
</ng-template>
