<h1 class="text-center">Добро пожаловать на сайт персонажей из Star Wars</h1>
<div class="text-center">
  <app-search-bar (newSearch)="onSearch($event)"></app-search-bar>
</div>
<div *ngIf="cService.fetchError$ | async; else elseBlock">
  <app-fetcherror></app-fetcherror>
</div>

<ng-template #elseBlock>
  <div class="card-list__pagination">

    <app-pagination
    [currentPage]="currentPage"
    [totalPages]="cService.totalPages$.value"
    ></app-pagination>
  </div>
  <div
    *ngIf="cService.filteredCharacters$ | async as characters"
    class="list__wrapper"
  >
    <ng-container *ngFor="let character of characters; index as i ">
      <app-character-card [character]="character" [index]="i"></app-character-card>
    </ng-container>
  </div>
</ng-template>
